
* {
    padding: 0;
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background: #f89306;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

body {
    background: #ccc;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: .4rem;
    color: #fff;
    font-size: 1.1rem;
    
}

header nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

.main {
    background: #fff;
    width: calc(100% - 2rem);
    max-width: 900px;
    margin:1rem auto;
    padding: 1rem;
}

section.content {
    padding: 1rem 0;
}

section.content h1 {
    font-size: 2rem;
}

section.content p {
    font-size: 1.3rem;
    margin-bottom: .5rem;
}

.yt-video {
    width: 100%;
    display: flex;

}

hr {
    margin: 1rem 0;
}

.title {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 1rem 0;
}

.splash {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    background:#e67e22;
    background-image: url(https://images.unsplash.com/photo-1529180979161-06b8b6d6f2be?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
    background-size: 100%;
    background-position: bottom;
    justify-content: center;
    align-items: center;
}

.splash h1 {
    font-size: 2rem;
    color: #ecc785;
    transition: 1s;
    animation-name: stay-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes stay-in {    
    from {
        position: relative;
        top: -5rem;
    }
    to {
        position: relative;
        top: 0rem;
        font-size: 6rem;
     }
}
@media screen and (max-width: 900px) {
    .header {
        padding-top: .5rem;
    }

    .splash {
        background-size: 400%;
        height: 30vh;
    }
    .splash h1 {
        font-size: 1rem;
        color: #fff;
        transition: 1s;
        animation-name: stay-in;
        animation-duration: 3s;
        animation-fill-mode: forwards;
    }
    @keyframes stay-in {    
    from {
        position: relative;
        top: -5rem;
    }
    to {
        position: relative;
        top: 0rem;
        font-size: 2rem;
     }
}
}

.logo {
    color: #fff;
}


