<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Suicidio, Suicida, Prevención, Depresión, Angustia, Tristeza, Autoayuda, Ayuda, Uruguay, Salud, Mental, Llorar, Miedo, Esperanza, Desilusión, Muerte, Duelo, Separación, Quiebra, Automutilación, Crisis, Estres, Stress, autodestrucción ">
    <meta name="description" content="TMA Sistema de Prevención del Suicidio">
    <meta name="author" content="URUTribe Devs">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/styles.css" rel="stylesheet">
    <title>TMA - Tu Mano Amiga</title>
</head>
<body>
    
    <header class="header">
        
        <div>
            <a href="#"><img src="../img/Logo_Final_TMA.png" width="170" alt="170"></a>
            <nav class="navigation">
        </div>

        
    </header> 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse justify-content-md-center" >
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/login"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingresar </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Necesito Ayuda </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Quiero Ayudar </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/home/dashboard"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Home </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> + </font></font><span class="sr-only"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(actual)</font></font></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Desplegable</font></font></a>
                <div class="dropdown-menu" aria-labelledby="dropdown08">
                <a class="dropdown-item" href="/home/logout"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Logout </font></font></a>
                <a class="dropdown-item" href="/home/profile"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Perfil personal </font></font></a>
                
                </div>
            </li>
            </ul>
        </div>
    
    </nav>

