<html lang="en">

<%- include headerPrincipal %>


		
		<div class="splash">
			<h1>Somos Tu Mano Amiga</h1>
		</div>
	
		<section class="main">
				<span class="title color-blue">Tomate un Respiro, estamos con vos</span>
				<div class="yt-video">
					<iframe width="100%" height="315" src="https://www.youtube.com/embed/O7iwXta0lTU" frameborder="0"
						allow="autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					</iframe>
				</div>
				<hr>
	
				<section class="contiene">
					<h1>Violencia cultural</h1>
				   
					<p>Esta forma de la violencia hace referencia a aspectos de la cultura que la legitiman a través del arte, la religión, la filosofía, el derecho, etc.</p>
					<p>De los tres tipos de violencia (directa, estructural y cultural) la directa es clara y visible, por lo que resulta relativamente sencillo detectarla y combatirla. En cambio, la violencia cultural y la violencia estructural, son menos visibles, pues en ellas intervienen más factores, detectar su origen, prevención y remedio es más complicado.</p>
					<p>Hacia los años 90 surge, de la mano de Galtung, una nueva aproximación a la violencia al crearse el concepto de violencia cultural, que la define como una violencia, simbólica, que “se expresa desde infinidad de medios (simbolismos, religión, ideología, lenguaje, arte, ciencia, leyes, medios de comunicación, educación, etc.), y que cumple la función de legitimar la violencia directa y estructural, así como de inhibir o reprimir la respuesta de quienes la sufren, y ofrece justificaciones para que los seres humanos, a diferencia del resto de especies, se destruyan mutuamente y sean recompensados incluso por hacerlo”.1​ Así, por ejemplo, se puede aceptar la violencia revolucionaria de grupos extremistas o en defensa de las ideologías totalitarias.</p>
				</section>
			
		</section>
		   
		<footer class="footer">
			<center> <a href="#" class="logo"><img src="../img/Logo Final TMA_Version_3.png" width="100" alt="100"> </a> </center>
		</footer>
	
		</section>
	
	   
	</body>
	</html>
	
	

<%- include footer %>